page-favorites-page {

  .scroll-content {
    padding: 8px;
  }

  .card {
    width: 100%;
    .card-img {
      height: 150px;
      img-loader {
        background-size: cover !important;
      }
    }
    .card-content {
      padding: 6px !important;
    }
  }
  
  ul {
    margin: 4px 0;
    padding: 0px;

    &.rating li {
      padding: 5px 0 !important;
      background: none;
      color: color($colors, primary, base);

      ion-icon {
        font-size: 16px;
      }
    }
  }
}
