page-edit-profile {
  .toolbar.transparent .toolbar-background {
    background: transparent !important;
  }
  .content {
    background: $gradient-bg;
  }
  .text-input {
    color: color($colors, light);
  }
}
