info-window {

    ion-thumbnail {
        min-width: 60px !important;
        min-height: 60px !important;

        img {
            border-radius: 4px;
            width: 60px !important;
            height: 60px !important;
        }
    }

    .rating {
        margin: 0;
        padding: 0;
    
        &.rating li {
          padding: 5px 0 !important;
          background: none;
          color: color($colors, primary, base);
        }
      }
}
