page-subitem {


ion-item{
	height: 100px;
}
 
   ion-icon {
        font-size: 60px; //Preferred size here
        padding-left:50px;
    }


 p
    {
      font-style: oblique;
      padding-left: 25px; 
      color:white;
      font-size: 17px;

  }
  .Manicon{
        font-size: 60px; //Preferred size here
        padding-left:70px;
    }
    .saletext{
      font-style: oblique;
      padding-left: 30px; 
      color:#FF7676;
      font-size: 17px;

    }

 


  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  ion-row img {      max-width: 17rem !important;
      max-height: 17rem !important;
      border-radius: 3rem 1.5rem 1.5rem  1.5rem  !important;  } /* your css rules for ipad portrait */
}


  

}
