page-reviews-page {

  ion-avatar {
    margin: 0 12px 0 0 !important;
    img {
      background: color($colors, dark);
    }
  }

  ul {
    margin: 4px 0;
    padding: 0px;

    &.rating li {
      padding: 5px 0 !important;
      background: none;
      color: color($colors, primary, base);
    }
  }
}
